---
layout: 25/default
---



<div class="blockList">
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-md-9" id="paper">
        <h2>Call for Papers and Late Breaking Works
            <br>
            <!-- <span style="color:red">(Submission Deadline Extended/征稿日期延期)</span></h2> -->
            <a class="btn btn-outline-primary btn-pill shadow-soft transition-3d-hover mt-3"
                href="https://easychair.org/conferences/?conf=chchi2024" target="_blank"> Submit <i
                    class="fas fa-angle-right"></i></a>
    </div>

    <div class="container space-1 mt-n4">
        <div class="tab-wrapper">

            <ul class="nav nav-classic" id="paper-tab-1" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="paper-result-tab-1" data-toggle="pill" href="#paper-result-1"
                        role="tab" aria-controls="paper-result-1" aria-selected="true">English</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " id="paper-html-tab-1" data-toggle="pill" href="#paper-html-1" role="tab"
                        aria-controls="paper-html-1" aria-selected="false">中文</a>
                </li>
            </ul>



            <div class="tab-content" id="paper-tabContent-1">
                <div class="tab-pane active show p-4" id="paper-result-1" role="tabpanel"
                    aria-labelledby="paper-result-tab-1">
                    <p class="text-justify">
                        The International Chinese Association of Computer Human Interaction (ICACHI) is delighted to
                        announce that the 2025 International Conference on Human-Engaged Computing（ICHEC 2025) will take
                        place in Singapore Management University, Singapore, from November 21st to 23th, 2025. The
                        conference theme for this year is "Inclusion.Intelligence.Connection".
                        <br>
                        <br>
                        ICHEC (formerly known as “Chinese CHI”) is the premier venue for connecting HCI researchers,
                        practitioners, and industry leaders worldwide. Since its inception in 2012, Chinese CHI has been
                        successfully held in Paris, Toronto, Seoul, Silicon Valley, Guangzhou, Montreal, Xiamen, Bali
                        and Shenzhen. The papers accepted at the conference in the past years have been published
                        annually in the ACM Digital Library and are indexed by EI Compendex (Following the practice of
                        previous years, we are applying for the approval of ACM to publish the accepted papers of ICHEC
                        2025 in the ACM Digital Library). Renaming the conference is part of an ongoing effort to
                        reflect the conference’s broadening scope, and to encourage international participation from the
                        field of human-computer interaction. We cordially invite leading scholars, researchers and
                        industry leaders from around the world to share their latest research progress and practical
                        experiences, to foster intellectual exchange and research collaboration, and to explore the
                        boundless possibilities that lie ahead in the future development of HCI.
                        <br>
                        <br>
                        We invite contributions to ICHEC 2025 across a variety of research domains, including but not
                        limited to:
                    <ul>
                        <li>Affective Computing & Intelligent Interaction</li>
                        <li>Augmented Reality and Virtual Reality</li>
                        <li>Accessibility and Aging</li>
                        <li>Computer-Supported Cooperative Work (CSCW) & Social Computing</li>
                        <li>Design</li>
                        <li>Digital Heritage</li>
                        <li>Engineering Interactive Systems & Tools</li>
                        <li>Games and Play</li>
                        <li>Generative AI and HCI</li>
                        <li>Health</li>
                        <li>Human-AI Collaboration</li>
                        <li>Human Robot Interaction</li>
                        <li>Interaction Techniques, Devices and Modalities</li>
                        <li>Interactive Narrative and Visual Storytelling</li>
                        <li>Learning, Education, and Families</li>
                        <li>Privacy, Security, Ethics and Critical Computing</li>
                        <li>User Experience and Usability</li>
                        <li>Understanding People: Theory, Concepts, Methods</li>
                        <li>Visualization</li>
                    </ul>
                    We accept submissions of both full papers and late-breaking work (short papers).


                    </p>

                    <br>

                    <h3>Important Dates</h3>
                    <p class="text-justify">
                        We are now accepting submissions for Full Papers and Late-Breaking Work starting from the date
                        of this call. The key deadlines for Full Paper submissions are:
                    </p>
                    <p class="text-justify">
                    <ul>
                        <li>Abstract Submission: <strong style="color:black;">September 14, 2025, 23:59 (AOE)</strong>
                        </li>
                        <li>Full Paper Submission: <strong style="color:black;">September 18, 2025, 23:59 (AOE)</strong>
                        </li>
                        <li>Decision Notification: <strong style="color:black;">October 18, 2025, 23:59 (AOE)</strong>
                        </li>
                    </ul>
                    Late-Breaking Work deadlines:
                    <ul>
                        <li>Submission: <strong style="color:black;">September 25, 2025, 23:59 (AOE)</strong></li>
                        <li>Decision Notification: <strong style="color:black;">October 27, 2025, 23:59 (AOE)</strong>
                        </li>
                    </ul>
                    </p>

                    <br>

                    <h3>Submission Guidelines</h3>
                    <p class="text-justify">
                        All submissions for ICHEC 2025 are to be:
                    <ul>
                        <li>Written in English. </li>

                        <li> Original and not simultaneously submitted to another journal or conference. </li>
                        <li> Anonymized and without any information identifying the authors in the paper draft and
                            supplementary materials (e.g., videos). </li>
                        <li> The original work of the author(s) and an honest representation of the underlying work.
                        </li>


                    </ul>

                    <br>

                    <h3>Formatting</h3>

                    All submissions for ICHEC 2025 are to be written in English. The paper templates of Word,
                    LaTex, and Overleaf are given below:
                    <ul>
                        <li><a href="https://www.acm.org/binaries/content/assets/publications/taps/acm_submission_template.docx"
                                target="_blank">Word Format</a></li>
                        <li><a href="https://portalparts.acm.org/hippo/latex_templates/acmart-primary.zip"
                                target="_blank">LaTeX Format</a></li>
                        <li><a href="https://www.overleaf.com/latex/templates/acm-conference-proceedings-primary-article-template/wbvnghjbzwpc"
                                target="_blank">Overleaf Format</a></li>
                    </ul>


                    <br>

                    <h3>Paper Length </h3>
                    Concise and succinct writing is strongly encouraged, and the paper length should be
                    proportional to its contribution. The following paper length requirements exclude
                    references, figure/table captions, and appendices.
                    <ul>
                        <li><strong style="color:black;">Full Paper</strong>: Submissions should be between
                            5,000 and 12,000 words (about 7,000-8,000
                            words on average).</li>
                        <li><strong style="color:black;">Late-breaking Work</strong>: Submissions should be up
                            to 5000 words (single column, excluding
                            references).</li>
                        <li><strong style="color:black;">Submissions with Excessive Length</strong>: Full paper
                            submissions of more than 12,000 words
                            and late-breaking work submissions of more than 5000 words will be desk-rejected,
                            unless a clear and strong justification is provided.</li>
                        <li><strong style="color:black;">A single-column format</strong> must be used for the
                            reviewing phase and the authors are
                            requested to use the correct template. Use of different templates or formats may
                            result in desk rejection. Note that the LaTeX and Overleaf templates are
                            double-column by default; you can change it to a single-column format by using
                            “\documentclass[manuscript, screen, review]{acmart}”.</li>

                    </ul>

                    <br>

                    <h3>Registration and Publication </h3>
                    <p class="text-justify">
                        At least <strong style="color:black;">one author of each accepted paper</strong> must be
                        registered to attend the conference for an accepted paper to be published. The authors are
                        expected to present their work at the conference in person. Following the practice of previous
                        Chinese CHI conferences, we are applying for the approval of ACM to publish the accepted papers
                        of ICHEC 2025 in the ACM Digital Library.
                    </p>

                    <br>

                    <h3>Use of Generative AI Tools</h3>
                    <p class="text-justify">
                        Following the policy of ACM, the use of generative AI tools to create content is permitted, but
                        it must be fully disclosed in the acknowledgements section of the paper when such tools are used
                        for purposes beyond editing the author’s own text. Note that the LaTeX template defaults to
                        hiding the acknowledgements section while in review mode – please make sure that any LLM
                        disclosure is available in your submitted draft. Generative AI software tools should not be
                        listed as authors even if they are used in the preparation of a paper. Authors will take all
                        responsibility for all content in their paper, including any content that may have been
                        generated with AI.
                        For more details of the ACM policy, please refer to the official integrity check criteria and
                        frequently asked questions:
                        <ul>
                            <li><a href="https://www.acm.org/publications/icps/integrity-check-criteria"
                                    target="_blank">https://www.acm.org/publications/icps/integrity-check-criteria</a>
                            </li>
                            <li><a href="https://www.acm.org/publications/policies/frequently-asked-questions"
                                    target="_blank">https://www.acm.org/publications/policies/frequently-asked-questions</a>
                            </li>
                        </ul>


                    To ensure the publication quality and integrity, ACM has requested that all the accepted papers will
                    undergo LLM-generated text detection by the designated AI-check platform Morressier
                    (www.morressier.com) before they can be officially published. The authors can decide whether they
                    want to do an AI check first by themselves before the submission.

                    </p>

                    <br>

                    <h3>Open Access</h3>
                    <p class="text-justify">
                        All the ICHEC 2025 papers will be published as open access by following the latest ACM open
                        access policy. The authors of accepted papers may need to pay an applicable article processing
                        charge (APC), depending on whether the institution of a paper’s corresponding author is a member
                        of the ACM Open program. For more details, please refer to the following ACM open access
                        guideline and frequently asked questions:

                    <ul>
                        <li>ACM Open Access Guidance for ICPS Authors:
                            <a href="https://www.acm.org/publications/icps/author-guidance"
                                target="_blank">https://www.acm.org/publications/icps/author-guidance</a>
                        </li>
                        <li>FAQ: <a href="https://www.acm.org/publications/icps/faq"
                                target="_blank">https://www.acm.org/publications/icps/faq</a>
                        </li>
                    </ul>
                    <br>We look forward to meeting you at ICHEC 2025 in Singapore!

                    </p>



                </div>
                <div class="tab-pane fade p-4" id="paper-html-1" role="tabpanel" aria-labelledby="paper-html-tab-1">
                    <p class="text-justify">
                        世界华人华侨人机交互协会（International Chinese Association of Computer Human
                        Interaction，简称"ICACHI"）举办的International Conference on Human-Engaged Computing（ICHEC
                        2025）会议将于2025年11月21日至23日在新加坡，新加坡管理大学举办。本次会议主题为：包容（Inclusion）、智能（Intelligence）、连接（Connection）。
                        <br>
                        <br>
                        ICHEC 2025 （前身为"Chinese
                        CHI"）由世界华人华侨人机交互协会（ICACHI）举办，这一学术会议已成为连接世界范围内的HCI学者、学术界和产业界的重要会议。从2012年起，Chinese CHI
                        已分别在巴黎、多伦多、首尔、硅谷、广州、蒙特利尔、厦门、巴厘岛以及深圳成功举办。往年历届会议发表论文均会收录于ACM Digital Library，并提交EI检索（ 对于ICHEC
                        2025最终收录论文，大会组委会正在向ACM申请论文发表事宜） 。2025年经 ICACHI 理事会商讨，为使会议更具包容性并且吸引全球人机交互领域的研究者参与，会议正式更名为
                        ICHEC。我们诚邀全球范围内人机交互领域相关的学者、研究人员和业界领袖，分享他们的最新研究成果和实践经验，共同探讨未来人机交互发展的无限可能性。

                    <ul>
                        <li>Affective Computing & Intelligent Interaction</li>
                        <li>Augmented Reality and Virtual Reality</li>
                        <li>Accessibility and Aging</li>
                        <li>Computer-Supported Cooperative Work (CSCW) & Social Computing</li>
                        <li>Design</li>
                        <li>Digital Heritage</li>
                        <li>Engineering Interactive Systems & Tools</li>
                        <li>Games and Play</li>
                        <li>Generative AI and HCI</li>
                        <li>Health</li>
                        <li>Human-AI Collaboration</li>
                        <li>Human Robot Interaction</li>
                        <li>Interaction Techniques, Devices and Modalities</li>
                        <li>Interactive Narrative and Visual Storytelling</li>
                        <li>Learning, Education, and Families</li>
                        <li>Privacy, Security, Ethics and Critical Computing</li>
                        <li>User Experience and Usability</li>
                        <li>Understanding People: Theory, Concepts, Methods</li>
                        <li>Visualization</li>
                    </ul>

                    </p>

                    <br>

                    <h3>截止日期</h3>
                    <p class="text-justify">
                        自本征文通知发布之日起接收长文（Full Paper）和短文（Late Breaking Work）论文投稿。本届会议长文投稿截止时间为:

                    </p>
                    <p class="text-justify">
                    <ul>
                        <li>长文摘要：<strong style="color:black;">2025年9月14日 23:59</strong> (AOE时间)</li>
                        <li>长文全文：<strong style="color:black;">2025年9月18日 23:59</strong> (AOE时间)</li>
                        <li>结果通知：<strong style="color:black;">2025年10月18日 23:59</strong> (AOE时间)</li>
                    </ul>
                    短文 (Late Breaking Work) 截止时间:
                    <ul>
                        <li>短文全文：<strong style="color:black;">2025年9月25日 23:59</strong> (AOE时间)</li>
                        <li>结果通知：<strong style="color:black;">2025年10月27日 23:59</strong> (AOE时间) </li>
                    </ul>
                    </p>
                    <!-- <p style="color:red">注：未提交摘要者，可直接投稿全文</p> -->

                    <br>

                    <h3>稿件要求</h3>
                    <p class="text-justify">
                    <ol>
                        <li>本次会议仅接受英文投稿。</li>
                        <li>本次会议采用双盲审制度，因此所有投稿的全部作者均需匿名，且正文及附件（例如，视频或者图像）中不出现与作者身份相关的信息。
                        </li>
                        <li>投稿到ICHEC 2025的论文必须是未公开发表过、并且不能同时被投稿到其他会议和期刊的稿件。
                        </li>
                        <li>
                            格式须采用ACM Conference Proceedings Primary Article Template模板：
                            <ul>
                                <li><a href="https://www.acm.org/binaries/content/assets/publications/taps/acm_submission_template.docx"
                                        target="_blank">Word格式</a></li>
                                <li><a href="https://portalparts.acm.org/hippo/latex_templates/acmart-primary.zip"
                                        target="_blank">LaTex格式</a></li>
                                <li><a href="https://www.overleaf.com/latex/templates/acm-conference-proceedings-primary-article-template/wbvnghjbzwpc"
                                        target="_blank">Overleaf格式</a></li>
                            </ul>
                        </li>
                        <li>投稿长度：
                            <ul>
                                <li>投稿的写作应简洁明了，并保证论文长度与论文实际贡献成正比; 论文的长度计算只计算正文内容，不计参考文献、附录、图表的标题等内容的字数。</li>
                                <li>长文长度：长文的字数应在5000和12000字之间，建议平均字数在7000到8000字左右。</li>
                                <li>短文长度：短文长度应不超过5000字（单栏，不包括参考文献）。</li>
                                <li>超出长度的长文投稿（大于12000字）和短文投稿（超过5000字）会被直接拒稿，除非作者提供有力依据说明超出投稿字数限制是必要的。</li>
                                <li>投稿阶段请使用单栏格式，并保证使用会议官方提供的标准投稿模版。使用其他模版格式会导致论文直接拒稿。注意LaTeX和Overleaf模版默认使用双栏模式，需要通过使用
                                    “\documentclass[manuscript, screen, review]{acmart}” 设定改成单栏模式。</li>
                            </ul>
                        <li>根据ACM的政策，允许使用生成式人工智能工具创建论文内容。当作者使用AI辅助写作或润色，或使用目的超出编辑自身文本的范畴时，必须在论文的致谢部分充分说明。注意LaTeX和Overleaf
                            模版默认不显示致谢章节，如果需要说明生成式人工智能工具使用情况，请确保提交版本在提交论文里面致谢章节已显示。此外，即使生成式人工智能软件工具被用于论文的准备工作，也不应将其列为作者。作者需对论文中的所有内容承担全部责任，包括可能由人工智能生成的任何内容。
                            自2024年起，ACM规定所有拟发表论文均需接受AI内容检测。为帮助作者顺利完成检测流程，ACM指定了官方检测机构Morressier（www.morressier.com）以确保检测结果的可靠性。投稿作者可选择在投稿前或论文录用后进行检测并根据建议进行修改，直至符合发表标准。
                            更多要求请参考ACM会议论文官方说明：
                            <ul>
                                <li><a href="https://www.acm.org/publications/icps/integrity-check-criteria"
                                        target="_blank">https://www.acm.org/publications/icps/integrity-check-criteria</a>
                                </li>
                                <li><a href="https://www.acm.org/publications/policies/frequently-asked-questions"
                                        target="_blank">https://www.acm.org/publications/policies/frequently-asked-questions</a>
                                </li>
                            </ul>
                        </li>
                        <li>作者应遵守学术规范。大会委员会将严格把关论文质量，严查学术不端，出现相关问题责任由作者本人承担，协会将保留追究作者责任的权利。</li>
                    </ol>
                    </p>

                    <!-- <h3>稿件提交</h3>
                    <p class="text-justify">
                        来稿须通过<a href="https://easychair.org/conferences/?conf=chchi2024"
                            target="_blank">Easychair</a>会议系统在线提交。
                    </p> -->

                    <br>

                    <h3>论文录用</h3>
                    <p class="text-justify">
                        长文、短文类稿件审稿流程均采取匿名同行评议（Blinded Peer
                        Review），并邀请人机交互领域经验丰富的学者担任审稿工作。被接收论文将由作者在会议期间以现场报告的形式进行展示。届时，参会者将有机会与来自全球各地的人机交互学者交流研讨。论文经同行评议获得录取后，<strong
                            style="color:black;">至少有一名作者需缴纳会议注册费</strong>。详细注册信息请参见会议官网。

                    </p>

                    <br>

                    <h3>ACM Open Access</h3>
                    <p class="text-justify">
                        ACM 从 2024 年开始引入了新的论文开放访问模式，根据论文通讯作者所在大学是否加入ACM论文开放计划 (ACM open program),
                        论文在发表之后可能会涉及是否需要缴纳论文开放访问的费用。投稿作者可通过参考 ACM 官方链接来查看相关条例和问答解释。
                    <ul>
                        <li>ACM Open Access Guidance for ICPS Authors:
                            <a href="https://www.acm.org/publications/icps/author-guidance"
                                target="_blank">https://www.acm.org/publications/icps/author-guidance</a>
                        </li>
                        <li>FAQ: <a href="https://www.acm.org/publications/icps/faq"
                                target="_blank">https://www.acm.org/publications/icps/faq</a>
                        </li>
                    </ul>
                    <br>欢迎各位同仁踊跃投稿！
                    </p>

                </div>
            </div>

        </div>

    </div>
    <!-- Team Section -->
</div>