---
layout: 25/default
---

<!-- Info -->
<div class="container">
  <div class="text-justify mb-10" id="intro">
    {{ content }}
  </div>

</div>

  <div class="container space-1 mt-n4">
    <div class="row">
      <div class="col-12 space-1">
        

        <div class="row justify-content-between text-center mb-8">
          <div class="col-8 col-sm-12">

            <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
              <h4 class="text-body h6 text-cap">HOST / 主办</h4>
            </div>


          <!-- <div class="row">
              <div class="col-12 col-md-6 mb-5 mb-md-0">
              <div class="mx-3"> 
                <a href="http://www.icachi.org" target="_blank" class="d-flex flex-column justify-content-center align-items-center">
                  <div style="height: 100px; display: flex; justify-content: center; align-items: center;">
                    <img class="mx-auto" style="height: 100%; width: auto; object-fit: contain;" 
                      src="{{ site.baseurl }}/assets/img/logo/icachi-logo.svg" alt="Image Description">
                  </div>
                  <h4 class="text-body h6 text-cap mt-2">世界华人华侨人机交互协会</h4> 
                </a>
              </div>
            </div>
              <div class="col-12 col-md-6 mb-5 mb-md-0">
              <div class="mx-3"> 
              
                <a href="https://computing.smu.edu.sg" target="_blank" class="d-flex flex-column justify-content-center align-items-center">
                  <div style="height: 100px; display: flex; justify-content: center; align-items: center;">
                    <img class="mx-auto" style="height: 100%; width: auto; object-fit: contain;" 
                      src="{{ site.baseurl }}/assets/img/logo/logo-smu.png" alt="Image Description">
                  </div>
                  <h4 class="text-body h6 text-cap mt-2">SMU School of Computing and Information Systems</h4> 
                </a>
              </div>
            </div>
          </div> -->

          <div class="row text-center align-items-center">
            <!-- Left Logo -->
            <div class="col-12 col-md-6 mb-4 d-flex justify-content-center">
              <div style="max-width: 320px;">
                <img src="{{ site.baseurl }}/assets/img/logo/icachi-logo.svg"
                     class="img-fluid"
                     style="max-height: 80px; width: auto;" alt="ICACHI Logo">
                <h4 class="text-body h6 mt-2">世界华人华侨人机交互协会</h4>
              </div>
            </div>
          
            <!-- Right Logo -->
            <div class="col-12 col-md-6 mb-4 d-flex justify-content-center">
              <div style="max-width: 360px;">
                <img src="{{ site.baseurl }}/assets/img/logo/logo-smu.png"
                     class="img-fluid"
                     style="max-height: 100px; width: auto;" alt="SMU Logo">
                <h4 class="text-body h6 mt-2">SMU SCHOOL OF COMPUTING AND INFORMATION SYSTEMS</h4>
              </div>
            </div>
          </div>
          


          </div>

  </div>

  
  <!-- End Clients Section -->

  <!-- {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "News" }}</h2>
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
        {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul> -->

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
{%- endif -%}
</div>
</div>
</div>



<!-- End Info -->

