---
layout: 24/default
---

<!-- <div id="sider-menu" style="position: fixed; z-index: 2147483647; top: 124px;">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="#paper">Paper & LBW</a></li>
        <li role="presentation" class=""><a href="#callforworkshop">Workshop</a></li>
        <li role="presentation" class=""><a href="#callforartworks">Artworks</a></li>
    </ul>
</div> -->

<div class="blockList">
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-md-9"  id="paper">
        <h2>Call for Papers</h2>
        <a class="btn btn-outline-primary btn-pill shadow-soft transition-3d-hover mt-3"
            href="https://easychair.org/conferences/?conf=chchi2024" target="_blank"> Submit <i
                class="fas fa-angle-right"></i></a>
    </div>
    
    <div class="container space-1 mt-n4">
        <div class="tab-wrapper">
            
            <ul class="nav nav-classic" id="paper-tab-1" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="paper-result-tab-1" data-toggle="pill" href="#paper-result-1" role="tab"
                        aria-controls="paper-result-1" aria-selected="true">English</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " id="paper-html-tab-1" data-toggle="pill" href="#paper-html-1" role="tab"
                        aria-controls="paper-html-1" aria-selected="false">中文</a>
                </li>
            </ul>
            
    
            
            <div class="tab-content" id="paper-tabContent-1">
                <div class="tab-pane active show p-4" id="paper-result-1" role="tabpanel"
                    aria-labelledby="paper-result-tab-1">
                    <p class="text-justify">
                        The International Chinese Association of Computer Human Interaction (ICACHI) is delighted to announce the upcoming Chinese CHI 2024 conference will occur in the Southern University of Science and Technology, Shenzhen, China, from November 22th to 25th, 2024. The conference theme for this year is "Innovation. Creativity. Integration."<br>
                        <br>
                        Chinese CHI is the premier venue for connecting Chinese HCI researchers, practitioners, and industry leaders worldwide. Since its inception in 2012, Chinese CHI has successfully been held in Paris, Toronto, Seoul, Silicon Valley, Guangzhou, Montreal, Xiamen, and Bali. Accepted papers at the conference are published annually in ACM Digital Library and EI Compendex.<br>
                        <br>
                        In the era of emerging technologies, Chinese CHI 2024 will focus on driving transformations in interaction paradigms through technological innovation, stimulating creativity to shape more intelligent and human-centered interactive systems, and integrating multidisciplinary research outcomes to address complex real-world application scenarios. We cordially invite leading scholars, researchers, and industry leaders from around the globe to share their latest findings and practical experiences, to foster intellectual exchange and collaborative dialogue, and to explore diverse pathways through which technology can empower the future of humanity.
                        <br>
                        <br>
                        We invite contributions to Chinese CHI 2024 across a variety of research domains, including but not limited to:
                    <ul>
                        <li>User Experience and Usability</li>
                        <li>Health, Accessibility and Aging</li>
                        <li>Games and Play</li>
                        <li>Generative AI and HCI</li>
                        <li>Human-Robot Interaction</li>
                        <li>Affective Computing & Intelligent Interaction</li>
                        <li>Visualization</li>
                        <li>Design</li>
                        <li>Privacy, Security, Ethics and Critical Computing</li>
                        <li>Interaction Techniques, Devices and Modalities</li>
                        <li>Understanding People: Theory, Concepts, Methods</li>
                        <li>Engineering Interactive Systems and Technologies</li>
                        <li>Specific Application Areas</li>                    
                    </ul>
                    On top of that, we particularly welcome submissions in the Chinese cultural context, with example topics including but not limited to:
                    <ul>
                        <li>Chinese Traditional Culture Oriented HCI</li>
                        <li>Chinese Cultural Heritage Oriented HCI</li>
                        <li>Technology Use or Development in the Chinese Context</li>
                        <li>Understanding Chinese Users</li>
                        <li>Community Engagement in China</li>                 
                    </ul>
                    </p>
    
                    <h3>Important Dates</h3>
                    <!-- <p class="text-justify">
                        All times are in Anywhere on Earth (AoE) time zone.
                    </p> -->
                    <p class="text-justify">
                        Papers Submission:
                    <ul>
                        <li>Abstract Submission: <strong style="color:black;">August 31, 2024, 23:59 (AoE)</strong></li>
                        <li>Submission Due: <strong style="color:black;">September 20, 2024, 23:59 (AoE)</strong></li>
                        <li>Paper Notification: <strong style="color:black;">October 20, 2024</strong></li>
                    </ul>
                    <!-- Late-Breaking Works Submission:
                    <ul>
                        <li>Submission Due: <strong style="color:black;">August 31, 2023, 23:59</strong></li>
                        <li>Decision Notification: <strong style="color:black;">October 10, 2023</strong></li>
                    </ul> -->
                    </p>
                    <h3>Submission Guidelines</h3>
                    <p class="text-justify">
                    All submissions for Chinese CHI are to be:
                    <ul>
                        <li>Written in English.</li>
                        <li>Original and not simultaneously submitted to another journal or conference.</li>
                        <li>Anonymized and without any information identifying the authors in the main text.</li>
                    </ul>
                    </p>
    
                    <h3>Formatting</h3>
                    <p class="text-justify">
                    All submissions for Chinese CHI are to be written in English. Instructions for Word, LaTex, and Overleap authors are given below.
                        <ul>
                            <li><a href="https://www.acm.org/binaries/content/assets/publications/taps/acm_submission_template.docx" target="_blank">Word</a></li>
                            <li><a href="https://portalparts.acm.org/hippo/latex_templates/acmart-primary.zip" target="_blank">LaTex</a></li>
                            <li><a href="https://www.overleaf.com/latex/templates/acm-conference-proceedings-primary-article-template/wbvnghjbzwpc" target="_blank">Overleaf</a></li>
                        </ul>
                    
                    </p>
    
                    <h3>Length limits</h3>
                    <p class="text-justify">
                        <ul>
                            <li>The following length limit is imposed for papers: 20 pages max, excluding references. </li>
                            <!-- <li>Late-Breaking Works: 8 pages max, excluding references.</li> -->
                        </ul>
                    </p>
    
                    <h3>Review Process</h3>
                    <p class="text-justify">
                        Submissions are subject to blinded peer reviewing. Authors submitting papers and late-break works must comply with the Chinese CHI reviewing policy including, but not limited to:
                        <ul>
                            <li>To ensure the integrity of the peer review process, we ask that no authors publicize the work until that process is complete.</li>
                            <li>The work submitted is not currently under review at any other publication venue.</li>
                            <li>The submission is original and is an honest representation of the underlying work.</li>
                        </ul>
                    </p>
    
                    <h3>Submission Details</h3>
                    <p class="text-justify">
                        Online Submission: <a href="https://easychair.org/conferences/?conf=chchi2024"
                            target="_blank">Easychair</a>
                        <br>
                        <br>
                        Upon acceptance, at least one author of each accepted paper must be registered to attend the conference.
                        <br>
                        <br>
                        We look forward to meeting you in Chinese CHI 2024!
                    </p>
                </div>
                <div class="tab-pane fade p-4" id="paper-html-1" role="tabpanel" aria-labelledby="paper-html-tab-1">
                    <p class="text-justify">
                        世界华人华侨人机交互协会（International Chinese Association of Computer Human Interaction，简称“ICACHI”）举办的 Chinese CHI 2024 会议将于2024年11月22日至25日在中国深圳南方科技大学举办。本次会议主题为：创新（Innovation）、创造 （Creativity）、整合 （Integration）。
                        <br>
                        <br>
                        由世界华人华侨人机交互协会（ICACHI）举办的这一学术会议已成为连接世界范围内的华人HCI学者、学术界和产业界的重要会议。从2012年起，Chinese CHI已分别在巴黎、多伦多、首尔、硅谷、中国广州、加拿大蒙特利尔、中国厦门以及印度尼西亚巴厘岛成功举办。历届会议发表论文均会收录于ACM Digital Library，并提交EI检索。
                        <br>
                        <br>
                        在人工智能涌现的时代，本次会议将重点关注如何通过技术创新推动交互方式的变革，如何激发创造力，塑造更智能和人性化的交互系统，以及如何整合多学科研究成果应对复杂的实际应用场景。我们诚挚邀请全球顶尖学者、研究人员和业界领袖，分享他们的最新研究成果和实践经验，碰撞思想、交流经验，共同探索技术赋能人类未来的多元路径。
                        <br>
                        <br>
                        征稿范围 (包括但不限于) :
                    <ul>
                        <li>User Experience and Usability</li>
                        <li>Health, Accessibility and Aging</li>
                        <li>Games and Play</li>
                        <li>Generative AI and HCI</li>
                        <li>Human-Robot Interaction</li>
                        <li>Affective Computing & Intelligent Interaction</li>
                        <li>Visualization</li>
                        <li>Design</li>
                        <li>Privacy, Security, Ethics and Critical Computing</li>
                        <li>Interaction Techniques, Devices and Modalities</li>
                        <li>Understanding People: Theory, Concepts, Methods</li>
                        <li>Engineering Interactive Systems and Technologies</li>
                        <li>Specific Application Areas</li>                    
                    </ul>
                    此外，会议也关注中国文化背景下的人机交互，选题包括但不限于：
                    <ul>
                        <li>Chinese Traditional Culture Oriented HCI</li>
                        <li>Chinese Cultural Heritage Oriented HCI</li>
                        <li>Technology Use or Development in the Chinese Context</li>
                        <li>Understanding Chinese Users</li>
                        <li>Community Engagement in China</li>                 
                    </ul>
                    </p>
    
                    <h3>截止日期</h3>
                    <p class="text-justify">
                        自本征文通知发布之日起接收论文投稿，本届会议的长文（Papers）征稿截止时间:
                    </p>
                    <p class="text-justify">
                        长文 (Papers) 截止时间:
                    <ul>
                        <li>摘要：<strong style="color:black;">2024年8月31日 23:59 (AoE时间)</strong></li>
                        <li>全文：<strong style="color:black;">2024年9月20日 23:59 (AoE时间)</strong></li>
                        <li>长文类录用结果通知时间：<strong style="color:black;">2024年10月20日</strong></li>
                        <!-- <li>长文类录用结果通知：<strong style="color:black;">2023年10月3日 (AOE时间)</strong></li> -->
                    </ul>
                    <!-- 短文 (Late Breaking Work) 截止时间:
                    <ul>
                        <li>全文：<strong style="color:black;">2023年8月31日 23:59 (AOE时间)</strong></li>
                        <li>短文类录用结果通知：<strong style="color:black;">2023年10月10日 (AOE时间)</strong></li>
                    </ul> -->
                    </p>
    
    
                    <h3>稿件要求</h3>
                    <p class="text-justify">
                        <ul>
                            <li>本次会议仅接受英文投稿。</li>
                            <li>所有投稿的全部作者均需匿名，且正文中不出现与作者身份相关的信息。</li>
                            <li>
                                格式须采用ACM Conference Proceedings Primary Article Template模板，模版下载：
                                <ul>
                                    <li><a href="https://www.acm.org/binaries/content/assets/publications/taps/acm_submission_template.docx" target="_blank">Word格式</a></li>
                                    <li><a href="https://portalparts.acm.org/hippo/latex_templates/acmart-primary.zip" target="_blank">LaTex格式</a></li>
                                    <li><a href="https://www.overleaf.com/latex/templates/acm-conference-proceedings-primary-article-template/wbvnghjbzwpc" target="_blank">Overleaf</a></li>
                                </ul>
                            </li>
                            <li>长文来稿长度： 20页以内（不含参考文献）。</li>
                            <li>投稿到 Chinese CHI 2024的论文必须是未公开发表过的，并且不能同时被投稿到其他会议和期刊。</li>
                            <li>作者应遵守学术规范。大会委员会将严格把关论文质量，严查学术不端，出现相关问题责任由作者本人承担，协会将保留追究作者责任的权利。</li>
                        </ul>
                    </p>
    
                    <h3>稿件提交</h3>
                    <p class="text-justify">
                        来稿须通过<a href="https://easychair.org/conferences/?conf=chchi2024"
                            target="_blank">Easychair</a>会议系统在线提交。
                    </p>
    
                    <h3>论文录用</h3>
                    <p class="text-justify">
                        长文、短文类稿件审稿流程均采取匿名同行评议（Blinded Peer Review），并邀请人机交互领域经验丰富的学者担任审稿工作。    
                        <br>
                        <br>
                        本届会议获学术与产业界合作伙伴多方支持，并由来自国际知名院校及企业的资深学者担任主讲人及研讨会嘉宾。被接收论文将由作者在会议期间以报告或视频简介的形式进行展示。届时，参会者将有机会与来自全球各地的人机交互学者交流研讨。论文经同行评议获得录取后，至少有一名作者需缴纳会议注册费。详细注册信息请参见会议官网。
                        <br>
                        <br>
                        欢迎各位同仁踊跃投稿！
                    </p>
    
    
    
                </div>
            </div>
           
        </div>
    
    </div>
    <!-- Team Section -->
    </div>   
