---
layout: 24/default
---

<!-- <div id="sider-menu" style="position: fixed; z-index: 2147483647; top: 124px;">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="#paper">Paper & LBW</a></li>
        <li role="presentation" class=""><a href="#callforworkshop">Workshop</a></li>
        <li role="presentation" class=""><a href="#callforartworks">Artworks</a></li>
    </ul>
</div> -->


<div class="blockList">
<div class="w-md-80 w-lg-50 text-center mx-md-auto mb-md-9"  id="paper">
    <h2>Call for Papers</h2>
    <h3>即将上线...</h3>
    <h3>To be announced soon...</h3>

</div>
