---
layout: 24/default
---

<!-- Info -->
<div class="container">
  <div class="text-justify" id="intro">
    <div class="w-md-80 w-lg-100 text-center mx-md-auto mb-8">
      <h2>Program of Chinese CHI 2024（暂定）</h2>
      <h6>北京时间</h6>
            <!-- <p>The conference will be live-streamed via Bilibili. The public can access it for free and ask questions via the platforms. 
        Program language information - panels are in Chinese, other sessions are in English.</p> -->
    </div>
    <div class="container space-1">
      <div class="row">
        <div class="col-lg-12">
          <div class="table-responsive">

            <table class="table table-hover table-bordered">
              <thead>
                <tr>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-left" colspan="2">
                    <h4 class="text-primary">第一日：工作坊与研讨会</h4>
                      <h6>11月22日，深圳南山智园C1栋 南方科技大学创新创意设计学院</h6>
                  <br>

                  <h5>签到</h5>
                  <h6>08:30 - 09:00，智园C1栋10层，11层</h6>
                  </td>
                </tr>
                <tr>
                  <td class="text-left">
                      <h5>平行工作坊及报告<a href="/24/workshops/" target="_blank">（详情）</a></h5>
                      <h6>09:00 - 12:00，智园C1栋10层</h6>
                      <br>
                      <h5>午餐及休息</h5>
                      <h6>12:00 - 13:00</h6>
                      <br>
                      <h5>2024人机共协计算国际研讨会暨人机共协计算新书发布会<a href="/24/iwhec/" target="_blank">（详情）</a></h5>
                      <h6>13:00 - 17:40,，智园C1栋11层报告厅</h6>
                  </td>

                  <td class="text-left w-50">
                    <h5>新质生产力<a href="#" target="_blank">（详情）</a></h5>
                      <h6>08:30 - 17:00，上午11层报告厅，下午1014室、1002室、1003室
                        </h6>
                  </td>
                </tr>

                <tr>
                  <td class="text-left" colspan="2">
                  <h4 class="text-primary">第二日：大会与展览</h4>
                      <h6> 11月23日，南方科技大学主校园商学院楼</h6>
                  <br>
                  <h5>签到</h5>
                    <h6>08:00 - 08:30，商学院一层</h6>
                    <br>
                    <h5>开幕致辞</h5>
                    <h6>08:30 - 08:50，大成礼堂</h6>
                    <ul>
                      <li>科协领导贺信 - 付志勇，世界华人华侨人机交互协会会长，清华大学美术学院副教授</li>
                      <li>南方科技大学校领导 - 关道文，南方科技大学创新创意设计学院院长、讲席教授</li>
                    </ul>
                    <br>
                    <h5>主题发言一：《以人类的数据交互致力于包容性数据体验》- Bongshin Lee，韩国延世大学教授</h5>
                    <h6>08:50 - 09:30</h6>
                    <br>
                    <h5>主题发言二：《基于数据和连通性的设计》- 胡军，荷兰埃因霍芬理工大学副教授
                      </h5>
                    <h6>09:30 - 10:10</h6>
                    <br>
                    <h5>合影 & 茶歇</h5>
                    <h6>10:10 - 10:20</h6>
	<br>
                    <h5>长论文报告</h5>
                    <h6>10:20 - 12:00，108室、109室</h6>
                    <br>
                    <h5>午餐休息</h5>
                    <h6>12:00 - 13:00</h6>
	<br>
                    <h5>海报展（LBW） & 艺术展</h5>
                    <h6>13:00 - 14:00，商学院一层走廊、113室</h6>
<br>
                    <h5>长论文报告</h5>
                    <h6>14:00 - 15:40，108室、109室</h6>
<br>
                    <h5>茶歇</h5>
                    <h6>15:40 - 16:00</h6>
	<br>
                    <h5>大湾区专题研讨会：面向下一代交互技术：教育、研究、产业的观念转换</h5>
                    <h6>16:00 - 17:30，大成礼堂</h6>
	<br>
                    <h5>总结发言</h5>
                    <h6>17:30 - 17:35, 大成礼堂</h6>
	<br>
                    <h5>ICACHI理事会会议</h5>
                    <h6>19:00 - 21:00，智园C1栋报告厅</h6>
                  </td>
                </tr>
                <tr>
                  <td class="text-left" colspan="2">
                  <h4 class="text-primary">第三日：大会与展览</h4>
                      <h6> 11月24日，南方科技大学主校园商学院楼</h6>
                  <br>
	
                    <h5>签到</h5>
                    <h6>08:00 - 08:30，商学院一层</h6>
<br>
                    <h5>当日议程介绍</h5>
                    <h6>08:30 - 08:40，大成礼堂</h6>
<br>
                    <h5>主题发言三：《音乐与艺术的可视化》- 伊藤贵之，御茶水女子大学人文数据工程系、信息科学系教授，人工智能与数据科学中心主任</h5>
                    <h6>08:40 - 09:20</h6>
                    <br>

                    <h5>主题发言四：《如何实现流畅的人与AI交互设计：从人与人协作中借鉴学习》- Anthony Tang，新加坡管理大学计算与信息系统学院副教授</h5>
                    <h6>09:20 - 10:00</h6>
<br>
                    <h5>茶歇</h5>
                    <h6>10:00 - 10:20</h6>
<br>
                    <h5>长论文报告</h5>
                    <h6>10:20 - 12:00, 108室、109室</h6>
	<br>
                    <h5>午餐休息</h5>
                    <h6>12:00 - 13:00</h6>
<br>
                    <h5>参观南科大</h5>
                    <h6>12:40 - 13:40</h6>
<br>
                    <h5>长论文报告</h5>
                    <h6>14:00 - 15:00, 108室、109室</h6>
<br>
                    <h5>茶歇</h5>
                    <h6>15:00 - 15:20</h6>
<br>
                    <h5>主题发言五:《与世界交互》- Robert Xiao，英属哥伦比亚大学计算机科学系助理教授</h5>
                    <h6>15:20 - 16:00，大成礼堂</h6>
<br>
                    <h5>主题发言六 - 吴岩，南方科技大学人文社科学院教授</h5>
                    <h6>16:00 - 16:40</h6>
<br>
                    <h5>艺术展竞赛颁奖</h5>
                    <h6>16:40 - 17:00</h6>
<br>
                    <h5>闭幕致辞</h5>
                    <h6>17:00 - 17:10</h6>
                    <ul>
                      <li>赵健，世界华人华侨人机交互协会副会长、滑铁卢大学计算机科学学院副教授</li>
                      <li>孙效华，南科大创新创意设计学院讲席教授</li>
                    </ul>
<br>
                    <h5>冷餐会</h5>
                    <h6>17:10 - 18:30，商学院一层走廊</h6>


                  </td>
                </tr>

                <tr>
                  <td class="text-left" colspan="2">
                    <h4 class="text-primary">第四日：企业参观</h4>
                      <h6>11月25日</h6>
                      <h5>详情敬请期待</h5>
                  <br>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

</div></div>
  </div>

</div>
</div>
<!-- End Info -->

