---
layout: 24/default
---

<!-- Info -->
<div class="container">
  <!-- <h3 class="mb-4 text-center" id="intro">简介</h3> -->   
  <div class="text-justify" id="intro">
    <div class="w-md-80 w-lg-100 text-center mx-md-auto mb-8">
      <!-- <h4 class="text-body h6 text-cap">巴厘岛当地时间/北京时间</h4> -->
      <h2>Program of Chinese CHI 2024</h2>
      <h3>即将上线...</h3>
    <h3>To be announced soon...</h3>
      
      <!-- <p>The conference will be live-streamed via Bilibili. The public can access it for free and ask questions via the platforms. 
        Program language information - panels are in Chinese, other sessions are in English.</p> -->
    </div>
</div>
</div>
<!-- End Info -->

