---
layout: 24/default
---

  <div class="w-md-80 w-lg-100 text-center mx-md-auto mb-10">
      <h2>Registration</h2>
      <!-- <p>Register before October 31st to take advantage of the early bird pricing.  -->
        <!-- <br>Any workshop registration includes a lunch and coffee break service. 
        <br>Conference registration includes a reception dinner (13th), two lunch (14th, 15th) and a banquet (14th) service.</p> -->
    </div>
  <div class="container mt-4 mb-9">
      <table class="table text-center">
        <thead>
          <tr class="bg-light">
            <th scope="col" style="vertical-align: middle !important">Type / 注册类型</th>
            <th scope="col" style="vertical-align: middle !important">Enterprise / 企业注册<br></th>
            <th scope="col" style="vertical-align: middle !important">Education / 教育注册<br></th>
            <th scope="col" style="vertical-align: middle !important">Student / 学生注册<br></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="align-self-center mx-auto">
            <th scope="col" style="vertical-align: middle !important; text-align: left">Full Conference (Nov 21~25)
              <br>会议全程票（11月21～25日）</th>
            <td style="vertical-align: middle !important">3500 CNY</td>
            <td style="vertical-align: middle !important">2800 CNY</td>
            <td style="vertical-align: middle !important">1000 CNY</td>
            <td style="vertical-align: middle !important" rowspan="3"><a class="btn btn-outline-primary btn-pill shadow-soft transition-3d-hover" href="https://payment.sustech.edu.cn/publish/p/0682024100008.html" target="_blank"> 会议注册 <i class="fas fa-angle-right"></i></a></td>
          </tr>
          <tr class="align-self-center mx-auto">
            <th scope="col" style="vertical-align: middle !important; text-align: left">One Day Ticket<br>单日票</th>
            <td style="vertical-align: middle !important">1500 CNY</td>
            <td style="vertical-align: middle !important">1200 CNY</td>
            <td style="vertical-align: middle !important">400 CNY</td>
          </tr>
          <tr>
            <th scope="col" style="vertical-align: middle !important; text-align: left">Online Presentation (Nov 23~24)<br>线上发表（11月23~24日）</th>
            <td style="vertical-align: middle !important">900 CNY</td>
            <td style="vertical-align: middle !important">900 CNY</td>
            <td style="vertical-align: middle !important">300 CNY</td>
  
          </tr>
          <tr>
            <th scope="col" style="vertical-align: middle !important; text-align: left">IxDL Workshop (Nov 22)<br>IxDL工作坊（11月22日）</th>
            <td style="vertical-align: middle !important">299 CNY (Early Bird due to Nov 5) <strike>369 CNY</strike></td>
            <td style="vertical-align: middle !important">299 CNY (Early Bird due to Nov 5) <strike>369 CNY</strike></td>
            <td style="vertical-align: middle !important">269 CNY</td>
            <td style="vertical-align: middle !important"><a class="btn btn-outline-primary btn-pill shadow-soft transition-3d-hover" href="#" target="_blank"> 工作坊注册 <i class="fas fa-angle-right"></i></a></td>
          </tr>
          <tr></tr>
            <th scope="col" style="vertical-align: middle !important; text-align: left">IWHEC 2024 (Nov 22 13:00~17:40)<br>人机共协计算论坛（11月22日13:00～17:40）</th>
            <td style="vertical-align: middle !important">Free</td>
            <td style="vertical-align: middle !important">Free</td>
            <td style="vertical-align: middle !important">Free</td>
            <td style="vertical-align: middle !important"><a class="btn btn-outline-primary btn-pill shadow-soft transition-3d-hover" href="https://rcnhlcjvc67z.feishu.cn/share/base/form/shrcnSqxs6zrhCyiAj5qXGEnoMh" target="_blank"> IWHEC注册 <i class="fas fa-angle-right"></i></a></td>
          </tr>
        </tbody>
      </table>
  
  <br>
  <br>
  <hr class="text-center mt-4 mb-4">
   <div class="text-justify" id="forattends">
    {{ content }}
  </div>
  
  </div>